
*{
    
     margin: 0%;
    padding: 0%;
}
body{
    background-image: url(bg1.jpg);
    background-position: inherit;
    background-size: cover;
    margin: 20px;
}
.box{
    /* background-color: rgb(0,0,0,0.6); */
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 20px;
}
.box h1{
    color: rgb(10, 235, 85);
    font-weight: 300 ;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif ;
}
.box input[type="text"],.box input[type="password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0de731 ;
    padding: 10px 10px;
    width: 200px;
    outline: none;
    color: rgb(84, 236, 14);
    border-radius: 24px;
    transition: 0.5s;

}
.box input[type="text"]:focus,.box input[type="password"]:focus{
   width: 280px;
   border-color: rgb(238, 75, 10) ;

}
.box input[type="submit"]{
    border:0;
    background: none;
    display: block;
    margin: auto;
    text-align: center;
    border: 2px solid #ff0123 ;
    padding: 10px;
    width: 100px;
    outline: none;
    color: rgb(248, 8, 8);
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background-color: rgb(12, 241, 12);
}
